@model IEnumerable<Portal.Business.Models.NewCards>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
        width: 563px;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="padding: 10px;margin: auto; width: 40%">
    <div class="mdl-card__title" style="height: auto">
        <h2 class="mdl-card__title-text" style="color: black; height: auto">Kaart koppelen</h2>
    </div>
    <div class="mdl-card__supporting-text">
        In onderstaande tabel ziet u een overzicht van kaarten die klaar staan om gekoppeld te worden.
    </div>
    <div class="mdl-card__supporting-text">
        Het is belangrijk dat u uw eigen kaart selecteerd.
        
    </div>
        <div class="mdl-card__supporting-text">
            Om u te helpen de juiste kaart te vinden wordt het tijdstip en het terminal waar u de kaart
            heeft gescant getoont. Weet u niet zeker welke kaart van u is? Scan de kaart gerust nog een keer en let op de tijd van de scan.
    </div>
    <div class="mdl-card__actions mdl-card--border" style="overflow-x: auto; width: auto">
        <div id="mdl-table">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded is-focused">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input search" type="text" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
            </div>

            <table id='mdl-table' class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="overflow-x: auto; width: auto">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric sort" data-sort="NewCardUid">Kaart ID</th>
                        <th class="mdl-data-table__cell--non-numeric sort" data-sort="ScanTime">Kaart gescant op</th>
                        <th class="mdl-data-table__cell--non-numeric sort" data-sort="ScannedAt">Waar/Welke terminal</th>
                    </tr>
                </thead>
                <tbody class="list">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewCardUid)
                            </td>
                            <td>
                                @{
                                    DateTime localDateTime = item.ScanTime.ToLocalTime();
                                }
                                @Html.DisplayFor(modelItem => localDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScannedAt)
                            </td>
                            <td>
                                <a asp-action="CardSelected" asp-route-id="@item.NewCardUid">Koppel</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Koppel kaart
            </a>
        </div>*@
</div>