@{
    ViewData["Title"] = "Signed out";
}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Bedankt voor het gebruiken van QPay</h2>
</div>
<div id="UserDetails" style="width: 100%; height: 100%; float:left">
    <!-- Simple list -->
    <style>
        .userInfo-list-item {
            width: auto;
        }
    </style>
    <ul class="userInfo-list-item mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content ">
                U bent uitgelogt en kunt dit venster of tabblad sluiten.
            </span>
        </li>
    </ul>
</div>
</div>